@font-face {
  font-family: 'Dratewka';
  src: url('../assets/fonts/PressStart2P.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Dratewka;
  -moz-user-select: none;
  user-select: none;
  /* image-rendering: crisp-edges;
  -moz-image-rendering: crisp-edges; */
  outline: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #DDDDDD;
  background-color: #222222;
  font-size: 1.2em;
  overflow: hidden;
}

#comp {
  image-rendering: crisp-edges;
  -moz-image-rendering: crisp-edges;
}

#cont {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #333333;
  padding: 20px;
}

#picbox {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  height: 40%;
  background-color: #000000;
  margin: 2% 0;
}

#picbox img {
  width: 50%;
  height: 100%;
}

.gameLine {
  line-height: 30px;
  margin: 2% 0;
}

.msgLine {
  color: #DDCC33;
}

.labelMsg {
  color: #DDCC33;
  width: 750px;
}

#inputbox {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  height: 40px;
  caret-color: #0000;
}

#label {
  line-height: 40px;
  padding-right: 20px;
}

#input {
  height: 40px;
  font-size: 25px;
  background-color: #33333300;
  border: none;
  color: #dddddd;
}

#inputcaret {
  position: absolute;
  left: 190px;
  margin-top: 5px;
  width: 26px;
  height: 30px;
  animation-name: input-caret-blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes input-caret-blink {
  0% {background-color: #DDDDDDFF;}
  50% {background-color: #DDDDDDFF;}
  51% {background-color: #DDDDDD00;}
  100% {background-color: #DDDDDD00;}
}

.introImg {
  width: 100%;
  height: 100%;
}

.uiSkipButton {
  position: absolute;
  left: 300px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  background-color: #333333;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: 2px solid #DDDDDD;
}

.uiSkipButton:hover {
  border-color: #DD8833;
  color: #DD8833;
}

.uiSkipButton:active {
  border-color: #88DD33;
  color: #88DD33;
}

.winImg {
  width: 100%;
  background-size: auto;
  margin: 0 auto;
}

.winText {
  position: absolute;
  left: 200px;
  top: 20px;
  width: 400px;
  height: 150px;
  text-align: center;
  color: #DDDDDD;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  line-height: 150px;
  font-size: 2em;
}

#instr {
  position: fixed;
  left: unset;
  top: unset;
  bottom: 10px;
  right: 10px;
  width: 250px;
}

.instrText {
  max-width: 760px;
  max-height: 500px;
  overflow: hidden auto;
}